body {
  background: #fff;
  margin: 0;
  padding:0;
  overflow: hidden;
cursor: none; 
}

@font-face {
    font-family: Benton;
    src: url(../fonts/Benton/BentonSans-Black.otf);
}

@font-face {
    font-family: Benton_Bold;
    src: url(../fonts/Benton/BentonSans-Bold.otf);
}

@font-face {
    font-family: Benton_ExtraComp_Medium;
    src: url(../fonts/Benton/BentonSansExtraComp-Medium.otf);
}

@font-face {
    font-family: Benton_ExtraComp_Bold;
    src: url(../fonts/Benton/BentonSansExtraComp-Bold.otf);
}

#header{
  width:1280px;
  position: absolute;
  height:60px;
  background-color:#000;
}

#banner{
  width:300px;
  height:60px;
  left:475px;
  position:absolute;
  padding-left:20px;
  padding-top:10px;
  background-color:#f0ab00;
  color:#FFF;
  font-size:34px;
  font-family:Benton_Bold;
  font-weight:bold;
}

#footer{
  height:10px;
  background-color:#f0ab00;
  position:absolute;
  z-index:600;
  top:790px;
  width:100%;
}

#contentdiv2{
  width:1280px;
  height:800px;
  font-family:sans-serif;
  font-size:14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hotspot1img{
   position: absolute;
  margin-left: 33px;
  margin-top: 30px;
}

#svg1{
  position:absolute;
  position: absolute;
  margin-left: -100px;
}

#hotspot2img{
   position: absolute;
  margin-left: 35px;
  margin-top: 32px;
}


#hotspot3img{
    position: absolute;
  margin-left: 35px;
  margin-top: 27px;
}



#playme{
  position:absolute;
  top:25%;
  left:35%;
  font-size:30px;
  color:#000;
  font-family:Benton_Bold;
}

#hotspot1{
  position:absolute;
  top:350px;
  left:150px;
}

#hotspot1Info{
 position: absolute;
 top: 230px;
 left: 100px;
   width: 230px;
}

.percentage1, .percentage2, .percentage3{
   float: right;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Benton_Bold;
  color: #fff;
}

#hotspot1Infoimg, #hotspot2Infoimg, #hotspot3Infoimg{
  float:left;
  padding:10px;
}

#hotspot2{
  position: absolute;
  top: 530px;
  left: 480px;
 

}

#hotspot2Info{
  position: absolute;
  top: 390px;
  left: 430px;
  width: 230px;
}

.hotspot1Text, .hotspot2Text, .hotspot3Text{
  float: right;
  font-size: 34px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-family: Benton_Bold;
  color: #fff;
}

.hotspot1Header, .hotspot2Header, .hotspot3Header{
   float: right;
  width: 290px;
  color: #008FD3;
  font-size: 34px;
  font-family: Benton;
  margin-right: 30px;
  padding-bottom: 5px;
  font-weight: 900;
}



#hotspot3{
  position: absolute;
  top: 450px;
  left: 1000px;
}

#hotspot3Info{
   position: absolute;
  top: 310px;
  left: 950px;
  width: 230px;
}


.radial {
  border-radius: 3px;
  background: #FFFFFF;
  color: #fff;

}

.background {
  fill: #FFFFFF;
  fill-opacity: 0.01;
}

.component {
  fill: #008FD3;
}

.component .label {
  font-family: Benton_Bold;
  text-anchor: middle;
  font-weight:bold;
  color:#ffffff;
  fill: #ffffff;
}

.arc {
  stroke-weight:0.5;
  fill: #F0AB00;
}


.arc2 {
  stroke-weight:0.5;
  fill: #F0AB00;
}


.label {
  font-family:  Benton_Bold;
  text-anchor: middle;
  font-weight:bold;
  color:#ffffff;
}

.radial-svg {
  display: block;
}